# --- DB_CONFIG ---
DATABASE_URI=postgres://myuser:mypassword@localhost:5432/mydatabase

# --- HTTP SERVER CONFIGURATION ---
RUN_ADDRESS=localhost:8080

# --- APP LOGGING ---
LOG_MODE=info  # or dev, warn, error

# --- APP CONFIG ---
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
WORKERS_COUNT=5
SHUTDOWN_TIMEOUT=5s